services:
  postgres:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gatewai
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - redis_data:/data

  app:
    image: gatewai/app:latest
    container_name: gatewai-app
    restart: unless-stopped
    depends_on:
      - postgres
      - redis
    env_file:
      - .env.development
    environment:
      - NODE_ENV=development
      - PORT=8081
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
    volumes:
      - ./${GOOGLE_APPLICATION_CREDENTIALS_PATH}:/app/${GOOGLE_APPLICATION_CREDENTIALS_PATH}

volumes:
  postgres_data:
  redis_data: