PORT=8081

VITE_BASE_URL=http://localhost:5173
BASE_URL=http://localhost:8081
GCS_ASSETS_BUCKET=gatewai-assets


GATEWAI_API_KEY=Ultra-Mega-Secret-Key-100200
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_APPLICATION_CREDENTIALS_PATH=
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gatewai"
LOG_LEVEL=debug

REDIS_HOST=localhost
REDIS_PORT=6379

DEBUG_LOG_MEDIA=false
MCP_PORT=4001
MCP_URL=http://localhost:4001/mcp