PORT=

VITE_BASE_URL=
BASE_URL=
NODE_ENV=

MCP_PORT=

GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS_PATH=
GCS_ASSETS_BUCKET=

DATABASE_URL=
LOG_LEVEL=debug

REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

DEBUG_LOG_MEDIA=[Boolean]