APP_NAME=gatewai
PORT=8081

VITE_BASE_URL=http://localhost:${PORT}
BASE_URL=http://localhost:${PORT}
NODE_ENV=production

MCP_PORT=4001

GEMINI_API_KEY=AIzaSyDPsHFmTsS_hhEk2kYxs91qYDXLOu_hCgM
GOOGLE_APPLICATION_CREDENTIALS=gatewai-466716-6a4cc3da9bc4.json
GCS_ASSETS_BUCKET=gatewai-media

DATABASE_URL="postgresql://postgres:postgres@localhost:54321/yodes"
LOG_LEVEL=debug

REDIS_PASSWORD=239084NNNDjdjajajj--f-a
REDIS_HOST=localhost
REDIS_PORT=6379

DEBUG_LOG_MEDIA=[Boolean] - Whether or not backed processors should write file to disk for debug