@import "tailwindcss";
@import "tw-animate-css";
@import '@fontsource/inter';

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);
@theme inline {
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 1px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --color-node-title: var(--node-title);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --black: #000;
  --background: oklch(0.97 0.005 220);
  --foreground: oklch(0.20 0.01 220);
  --card: oklch(0.98 0.005 220);
  --card-foreground: oklch(0.20 0.01 220);
  --popover: oklch(0.98 0.005 220);
  --popover-foreground: oklch(0.20 0.01 220);
  --primary: oklch(47.317% 0.15587 22.97);
  --primary-foreground: oklch(0.95 0.005 220);
  --secondary: oklch(0.90 0.005 220);
  --secondary-foreground: oklch(0.20 0.01 220);
  --muted: oklch(0.85 0.005 220);
  --muted-foreground: oklch(0.40 0.01 220);
  --accent: oklch(0.80 0.01 220);
  --accent-foreground: oklch(0.25 0.01 220);
  --destructive: oklch(0.60 0.15 10);
  --border: oklch(0.75 0.005 220);
  --input: oklch(0.75 0.005 220);
  --ring: oklch(0.50 0.03 220);
  --chart-1: oklch(0.55 0.03 220);
  --chart-2: oklch(0.45 0.03 260);
  --chart-3: oklch(0.60 0.03 180);
  --chart-4: oklch(0.70 0.03 100);
  --chart-5: oklch(0.50 0.03 300);
  --sidebar: oklch(0.95 0.005 220);
  --sidebar-foreground: oklch(0.20 0.01 220);
  --sidebar-primary: oklch(0.55 0.03 220);
  --sidebar-primary-foreground: oklch(0.98 0 220);
  --sidebar-accent: oklch(0.80 0.01 220);
  --sidebar-accent-foreground: oklch(0.20 0.01 220);
  --sidebar-border: oklch(0.75 0.005 220);
  --sidebar-ring: oklch(0.55 0.03 220);

  --font-sans: 'Inter', 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Source Serif 4', 'Geist', 'Geist Fallback', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Source Code Pro', 'Geist Mono', 'Geist Mono Fallback', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --radius: 0.25rem;
  
  --shadow-2xs: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.02);
  --shadow-xs: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.02);
  --shadow-sm: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.04), 0px 0.5px 1px -0.5px oklch(0.50 0.01 220 / 0.04);
  --shadow: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.04), 0px 0.5px 1px -0.5px oklch(0.50 0.01 220 / 0.04);
  --shadow-md: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.04), 0px 1px 2px -0.5px oklch(0.50 0.01 220 / 0.04);
  --shadow-lg: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.04), 0px 2px 3px -0.5px oklch(0.50 0.01 220 / 0.04);
  --shadow-xl: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.04), 0px 4px 5px -0.5px oklch(0.50 0.01 220 / 0.04);
  --shadow-2xl: 0px 0.5px 1px 0px oklch(0.50 0.01 220 / 0.1);
  
}

.dark {
  --black: #000;
  --background: oklch(0.20 0.005 220);
  --foreground: oklch(0.90 0.005 220);
  --card: oklch(0.25 0.01 220);
  --card-foreground: oklch(0.90 0.005 220);
  --popover: oklch(0.25 0.01 220);
  --popover-foreground: oklch(0.90 0.005 220);
  --primary: oklch(47.317% 0.15587 22.97);
  --primary-foreground: oklch(0.95 0.005 220);
  --secondary: oklch(0.30 0.01 220);
  --secondary-foreground: oklch(0.90 0.005 220);
  --muted: oklch(0.30 0.01 220);
  --muted-foreground: oklch(0.60 0.01 220);
  --accent: oklch(0.30 0.01 220);
  --accent-foreground: oklch(0.90 0.005 220);
  --destructive: oklch(0.60 0.15 10);
  --border: oklch(0.90 0.005 220 / 10%);
  --input: oklch(0.90 0.005 220 / 15%);
  --ring: oklch(0.60 0.03 220);
  --chart-1: oklch(0.60 0.03 220);
  --chart-2: oklch(0.55 0.03 260);
  --chart-3: oklch(0.65 0.03 180);
  --chart-4: oklch(0.75 0.03 100);
  --chart-5: oklch(0.55 0.03 300);
  --sidebar: oklch(0.25 0.01 220);
  --sidebar-foreground: oklch(0.90 0.005 220);
  --sidebar-primary: oklch(0.60 0.03 220);
  --sidebar-primary-foreground: oklch(0.20 0.01 220);
  --sidebar-accent: oklch(0.30 0.01 220);
  --sidebar-accent-foreground: oklch(0.90 0.005 220);
  --sidebar-border: oklch(0.90 0.005 220 / 10%);
  --sidebar-ring: oklch(0.60 0.03 220);
  
  --shadow-2xs: 0px 0.5px 1px 0px oklch(0 0 0 / 0.005);
  --shadow-xs: 0px 0.5px 1px 0px oklch(0 0 0 / 0.005);
  --shadow-sm: 0px 0.5px 1px 0px oklch(0 0 0 / 0.005), 0px 0.5px 1px -0.5px oklch(0 0 0 / 0.005);
  --shadow: 0px 0.5px 1px 0px oklch(0 0 0 / 0.005), 0px 0.5px 1px -0.5px oklch(0 0 0 / 0.005);
  --shadow-md: 0px 0.5px 1px 0px oklch(0 0 0 / 0.005), 0px 1px 2px -0.5px oklch(0 0 0 / 0.005);
  --shadow-lg: 0px 0.5px 1px 0px oklch(0 0 0 / 0.005), 0px 2px 3px -0.5px oklch(0 0 0 / 0.005);
  --shadow-xl: 0px 0.5px 1px 0px oklch(0 0 0 / 0.005), 0px 4px 5px -0.5px oklch(0 0 0 / 0.005);
  --shadow-2xl: 0px 0.5px 1px 0px oklch(0 0 0 / 0.015);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 1px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-sans);
    @apply bg-background text-foreground;
  }
}

:root {
  --checker-size: 20px;
  --checker-half: calc(var(--checker-size) / 2);
  --checker-color: #4c4c4c;
}

.media-container {
  background-image:
    linear-gradient(45deg, var(--checker-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checker-color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checker-color) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checker-color) 75%);
  background-size: var(--checker-size) var(--checker-size);
  background-position:
    0 0,
    0 var(--checker-half),
    var(--checker-half) calc(-1 * var(--checker-half)),
    calc(-1 * var(--checker-half)) 0;
}