@import "tailwindcss";
@import "@gatewai/ui-kit/style.css";
@source "../node_modules/@gatewai/ui-kit";
@source "../../..";


:root {
	--checker-size: 20px;
	--checker-half: calc(var(--checker-size) / 2);
	--checker-color: rgb(0, 0, 0);
}

.media-container {
	background-image:
		linear-gradient(45deg, var(--checker-color) 25%, transparent 25%),
		linear-gradient(-45deg, var(--checker-color) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, var(--checker-color) 75%),
		linear-gradient(-45deg, transparent 75%, var(--checker-color) 75%);
	background-size: var(--checker-size) var(--checker-size);
	background-position:
		0 0,
		0 var(--checker-half),
		var(--checker-half) calc(-1 * var(--checker-half)),
		calc(-1 * var(--checker-half)) 0;
}