@import "tailwindcss";
@source "../node_modules/@gatewai/ui-kit";
@source "../node_modules/@gatewai/nodes";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

:root {
	--background: oklch(1 0 0);
	--background-selected: oklch(95.514% 0.00011 271.152);
	--foreground: oklch(0.2101 0.0318 264.6645);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2101 0.0318 264.6645);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2101 0.0318 264.6645);
	--primary: oklch(0.6716 0.1368 48.513);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.536 0.0398 196.028);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.967 0.0029 264.5419);
	--muted-foreground: oklch(0.551 0.0234 264.3637);
	--accent: oklch(0.9491 0 0);
	--accent-foreground: oklch(0.2101 0.0318 264.6645);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--border: oklch(0.9276 0.0058 264.5313);
	--input: oklch(0.9276 0.0058 264.5313);
	--ring: oklch(0.6716 0.1368 48.513);
	--chart-1: oklch(0.594 0.0443 196.0233);
	--chart-2: oklch(0.7214 0.1337 49.9802);
	--chart-3: oklch(0.8721 0.0864 68.5474);
	--chart-4: oklch(0.6268 0 0);
	--chart-5: oklch(0.683 0 0);
	--sidebar: oklch(0.967 0.0029 264.5419);
	--sidebar-foreground: oklch(0.2101 0.0318 264.6645);
	--sidebar-primary: oklch(0.6716 0.1368 48.513);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(1 0 0);
	--sidebar-accent-foreground: oklch(0.2101 0.0318 264.6645);
	--sidebar-border: oklch(0.9276 0.0058 264.5313);
	--sidebar-ring: oklch(0.6716 0.1368 48.513);
	--destructive-foreground: oklch(1 0 0);
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--font-serif: serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-sm:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow-md:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
	--shadow-lg:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
	--shadow-xl:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
	--glass-background: oklch(0% 0 0 / 0.05);
	--glass-border: 1px solid oklch(0% 0 0 / 0.2);
	--glass-shadow: 0 4px 30px oklch(0% 0 0 / 0.1);
	--glass-blur: 10px;
}

.dark {
	--background: oklch(23.929% 0.00003 271.152);
	--background-selected: oklch(22.213% 0.00003 271.152);
	--foreground: oklch(0.8109 0 0);
	--card: oklch(18.674% 0.00002 271.152);
	--card-foreground: oklch(0.8109 0 0);
	--popover: oklch(0.1797 0.0043 308.1928);
	--popover-foreground: oklch(0.8109 0 0);
	--primary: oklch(89.992% 0.16568 110.075);
	--primary-foreground: oklch(0.1797 0.0043 308.1928);
	--secondary: oklch(47.441% 0.03827 196.016);
	--secondary-foreground: oklch(100% 0.00011 271.152 / 0.918);
	--muted: oklch(0.252 0 0);
	--muted-foreground: oklch(0.6268 0 0);
	--accent: oklch(0.3211 0 0);
	--accent-foreground: oklch(0.8109 0 0);
	--destructive: oklch(49.199% 0.15725 10.116);
	--border: oklch(0.252 0 0);
	--input: oklch(32.897% 0.00004 271.152);
	--ring: oklch(89.992% 0.16568 110.075);
	--chart-1: oklch(0.594 0.0443 196.0233);
	--chart-2: oklch(0.7214 0.1337 49.9802);
	--chart-3: oklch(0.8721 0.0864 68.5474);
	--chart-4: oklch(0.6268 0 0);
	--chart-5: oklch(0.683 0 0);
	--sidebar: oklch(0.1822 0 0);
	--sidebar-foreground: oklch(0.8109 0 0);
	--sidebar-primary: oklch(89.992% 0.16568 110.075);
	--sidebar-primary-foreground: oklch(0.1797 0.0043 308.1928);
	--sidebar-accent: oklch(0.3211 0 0);
	--sidebar-accent-foreground: oklch(0.8109 0 0);
	--sidebar-border: oklch(0.252 0 0);
	--sidebar-ring: oklch(89.992% 0.16568 110.075);
	--destructive-foreground: oklch(1 0 0);
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--font-serif: serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
	--shadow-sm:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
	--shadow-md:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
	--shadow-lg:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
	--shadow-xl:
		0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
	--glass-background: oklch(100% 0 0 / 0.2);
	--glass-border: 1px solid oklch(100% 0 0 / 0.3);
	--glass-shadow: 0 4px 30px oklch(0% 0 0 / 0.1);
	--glass-blur: 10px;
}

@theme inline {
	--color-background: var(--background);
	--color-background-selected: var(--background-selected);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-destructive-foreground: var(--destructive-foreground);
	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
	--glass-background: var(--glass-background);
	--glass-border: var(--glass-border);
	--glass-shadow: var(--glass-shadow);
	--glass-blur: var(--glass-blur);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		font-family: var(--font-sans);
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.glass {
		background: var(--glass-background);
		border: var(--glass-border);
		box-shadow: var(--glass-shadow);
		backdrop-filter: blur(var(--glass-blur));
		-webkit-backdrop-filter: blur(var(--glass-blur));
		border-radius: var(--radius);
	}
}

:root {
	--checker-size: 20px;
	--checker-half: calc(var(--checker-size) / 2);
	--checker-color: rgb(0, 0, 0);
}

.media-container {
	background-image:
		linear-gradient(45deg, var(--checker-color) 25%, transparent 25%),
		linear-gradient(-45deg, var(--checker-color) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, var(--checker-color) 75%),
		linear-gradient(-45deg, transparent 75%, var(--checker-color) 75%);
	background-size: var(--checker-size) var(--checker-size);
	background-position:
		0 0,
		0 var(--checker-half),
		var(--checker-half) calc(-1 * var(--checker-half)),
		calc(-1 * var(--checker-half)) 0;
}
